/**
 * Warning! I did not originally created this stylesheet so
 * you may not copy this as I just copy this somewhere.
 * And if in case you know the original auther,
 * please let me know if I'm getting into trouble.
 *
 * Inform me at http://lysender.co.cc/
 */

body {
	font-size: 70%;
	background: #fff;
	font-family: Helvetica,Arial,Sans-serif;
	color: #444;
}

/** Links **/
a {
	color:#49a;
	text-decoration:none;
}
a strong {
	color:#389;
}
a:hover, a:hover strong {
  color:#933 !important;
  }
a:focus, a:focus strong, a:active, a:active strong {
  outline:none;
  color:#000;
  }
.more a span, a.more span {
  font-weight:normal;
  color:#222;
  }
.more a:after, a.more:after, a.more-link:after {
  content:' \203A';
  font-weight:bold;
  }
.meta a {
  color:#8ab;
  }
.date a {
  color:#a98;
  }
.edit a {
  border-bottom-width:0;
  color:#c86;
  font-weight:normal;
  text-transform:lowercase;
  }
.commentmeta .edit a {
  background:none;
  margin-left:.5em;
  padding-left:0;
  }
.edit a:hover {
  color:#f00;
  }
a img, .noline, a.noline:link, a.noline:visited, a.noline:hover, a.thumb, a.icon, a.img:link, a.img:visited, a.img:hover {
  border-width:0;
  }

/** Branding **/
#header,
#content,
#footer {
	font-size: 0.9em;
}
#header {
  background: #345;
  width: 100%;
  padding-top: 10px;
  border-bottom: 20px solid #e0e1e7;
  }
#header .header-w {
  width: 980px;
  margin: 0 auto;
}
#header h1,
#header h1 a,
#header h1 a:hover {
	float: left;
	width: 520px;
	font-family: Trebuchet MS, Arial, Sans Serif;
	color: #e0e1e7 !important;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}
#user_ctrl {
	float: left;
	width: 460px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	text-align: right;
	padding-top: 2.4em;
	color:#8ac;
}
#header br {
	clear: both;
}

/** Nav **/
#nav {
  background:url("../../img/hdr_navbg.png") repeat 0 0;
  position:relative;
  z-index:1;
  height:7em;
  }
#nav ul {
  width:980px;
  margin:0 auto;
  padding:0 0 0 0;
  }
#nav li {
  float:left;
  width:14em;
  margin:0;
  padding:0 2em 0 0;
  list-style:none;
  font-size:1em;
  text-indent:0;
  text-transform:lowercase;
  }
#header #nav a, #header #nav strong {
  display:block;
  margin-top: 2.2em;
  padding-bottom:.938em;
  color:#8ac !important;
  text-decoration:none;
  font-weight:bold;
  font-size:1.6em;
  line-height:1.25;
  }
#header #nav strong, #header #nav .this a, #header #nav a:hover, #header #nav a:focus {
  color:#fff !important;
  margin-top: 2.2em;
}
#header #nav strong, #header #nav .this a {
  background:url("../../img/nav_tick_admin.gif") no-repeat 0 100%;
  }
#nav a:before, #nav strong:before {
  position: absolute;
  margin-top: -2.7em;
  padding-top:1.23em;
  color:#789;
  font-size:.8125em;
  line-height:1.538;
  font-weight:normal;
  }
#nav strong:before, #nav .this a:before, #nav a:hover:before, #nav a:focus:before {
  color:#8ac;
  }

/** Admin menu **/
#n_ahome a:before, #n_ahome strong:before {content:"Admin dashboard";}
#n_ageneral a:before, #n_ageneral strong:before {content:"General config";}
#n_auser a:before, #n_auser strong:before {content:"User Management";}
#n_amaint a:before, #n_amaint strong:before {content:"System Maintenance";}
#n_areport a:before, #n_areport strong:before {content:"Reports and Logs";}

#branding #nav a strong:before {content:"";}
#branding #nav a strong {
  background:none;
  display:inline;
  padding:0;
  font-size:1em;
  }
#nav ul:after {
	content: ".";
	width: 0;
	height: 0;
	clear:both;
}


/** Headings **/
h1 {
  margin:.917em 0 .292em;
  color:#222;
  font-size:2.4em;
  line-height:1.667;
  }
#home h1 {
  margin:.778em 0 .889em;
  font-size:1.8em;
  font-weight:normal;
  line-height:2.222;
  color:#777;
  text-transform:none;
  }
#entry h1 {
  padding-right:13.333em;
  text-transform:none;
  }
h1 strong {
  color:#222;
  }
h2 {
  margin:0 0 .769em;
  padding-top:1.231em;
  border-top:1px solid #ece9e6;
  font-size:1.3em;
  line-height:1.539;
  color:#a98;
  text-transform:lowercase;
  }
#home .entries h2 {
  display:none;
  }
h3 {
  margin:0 0 .769em;
  font-size:1.3em;
  line-height:1.539;
  }
h4 {
  margin:1.188em 0 .688em;
  font-size:1.6em;
  line-height:1.25;
  color:#222;
  }
h4:first-child {
  margin-top:-.063em;
  }
h5 {
  margin:0;
  font-size:1.3em;
  line-height:1.539;
  }

/** some ads **/
#content .cp-ad {
	margin-bottom: 10px;
}


/* =Colgroup Templates
    t1: 9,3 (Home, Entries, About)
    t2: 4,2,6 (Also)
    t3: 2,5,5 (Events, Portfolio pieces)
    t4: 4,4,2,2 (Archive)
    t5: 12 (Portfolio index)
    cg1,cg2,cg3 are generic groups of columns
    content-main is primary content
    content-sub is subordinate content
    content-xtra is extra content
    content-xtra2 is more extra content ;-)
----------------------------------------------- */
#content {
	/*
  position:relative;
  width:94em;
  min-width:940px;
  margin:0 auto;
  padding:0 2em;
	*/
  }
#content .content-w {
	width: 980px;
	margin: 0 auto;
}
#content h1 {
	color:#777777;
	font-size:1.8em;
	font-weight:normal;
	line-height:2.222;
	margin:0.778em 0 0.889em;
	text-transform:none;
}
.content-main, .content-sub, .content-xtra {
  overflow:hidden;
  }
.t1 .content-main {
  float:left;
  width:70em;
  overflow:hidden;
  }
.t1 .content-sub {
  float:right;
  width:22em;
  }
.t2 .cg1 {
  float:left;
  width:30em;
  }
.t2 .cg2 {
  float:right;
  width:62em;
  }
.t2 .content-main {
  float:left;
  width:30em;
  }
.t2 .content-sub {
  float:right;
  width:46em;
  }
.t2 .content-xtra {
  float:left;
  width:14em;
  }
.t3 .cg1, .t3a .cg1 {
  float:right;
  width:78em;
  }
.t3 .cg2, .t3a .cg2 {
  float:left;
  width:14em;
  }
.t3 .content-main {
  float:right;
  width:38em;
  }
.t3 .content-sub {
  float:left;
  width:38em;
  }
.t3 .content-xtra, .t3a .content-xtra {
  float:left;
  width:14em;
  }
.t4 .cg1 {
  float:left;
  width:62em;
  }
.t4 .cg2 {
  float:right;
  width:30em;
  }
.t4 .content-main {
  float:left;
  width:30em;
  }
.t4 .content-sub {
  float:right;
  width:30em;
  }
.t4 .content-xtra {
  float:left;
  width:14em;
  }
.t4 .content-xtra2 {
  float:right;
  width:14em;
  }
.t5 .content-main {
  float:left;
  width:100%;
  }



/* =Entries (and links)
----------------------------------------------- */
.entry {
  border-top:1px solid #ece9e6;
  float:left;
  width:100%;
  margin-bottom:1.3em;
  }
.samedayentry, .samedaylink, .samedayarticle {
  border-top-width:0;
  }
.entries h2 {
  background:url('../img/icon_entry.gif') no-repeat 0 .4em;
  font-size:2em;
  line-height:1.5;
  margin:.45em 4em .85em 0;
  padding-left:1em;
  padding-top: 0;
  }
.entries h3 {
	font-size: 1.8em;
}
.entries .entry-img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 190px;
}
.entries .samedayentry h2, .entries .samedayarticle h2 {
  margin-top:0;
  }
.entries .page h2, .entries .article1 h2 {
  background:url('../img/icon_page.gif') no-repeat 0 .4em;
  }
.entries .link h2 {
  background:url('../img/icon_link.gif') no-repeat 0 .308em;
  font-size:1.3em;
  width:35.385em;
  line-height:1.539;
  margin:1.231em 6.154em .769em 0;
  padding-left:1.539em;
  }
.entries .samedaylink h2 {
  margin-top:-.231em;
  }
.entries div.date {
  float:left;
  width:13em;
  margin:.9em 0 -1em;
  }
.entry .meta {
  text-transform:lowercase;
  color:#a98;
  }
div.date .day, .meta .day {
  font-size:1.385em;
  font-weight:bold;
  line-height:1.667;
  }
div.date .month, .meta .month {
  font-size:.722em;
  }
div.date .year, .meta .year {
  font-weight:normal;
  }
.linkmeta {
  text-transform:lowercase;
  color:#a98;
  }
.entries .body {
  float:right;
  width:46em;
  margin:0 8em 0 0;
  }
.entry .body p:first-child, .entry .meta, .entry .body blockquote:first-child p:first-child {
  margin-top:-.769em;
  }
.entry .body blockquote p:first-child, .entry .body dd p:first-child, .entry .body blockquote + .meta {
  margin-top:0;
  }
p.archivelink {
  float:left;
  width:100%;
  border-top:1px solid #ece9e6;
  padding:.45em 0 .75em;
  font-size:2em;
  line-height:1.5;
  }
.archivelink a {
  margin-left:8em;
  }
#archiveroot .entry, #also .entry {
  border:none;
  margin:0 0 1em;
  }
#archiveroot .entries {
  float:left;
  padding-bottom:1.3em;
  }
#archiveroot .entries img {
  display:none;
  }
#archiveroot .entry {
  }
#archiveroot .entries h3 {
  background:none;
  float:none;
  width:auto;
  margin:-.15em 0 .15em;
  font-size:2em;
  line-height:1;
  padding-left:0;
  }
#archiveroot .entries .meta span {
  white-space:nowrap;
  }
#archiveroot #container .searchform input.txt {
  width:16.154em;
  }
.latestlinks {
  float:left;
  width:100%;
  padding-bottom:1.3em;
  }
.allitems a {
  font-weight:bold;
  }
#archive div.summary {
  border-top:1px solid #ece9e6;
  padding:.6em 0 2.3em;
  }
#archive .section {
  padding-bottom:2em;
  }
.entrylink a, .linklink a, .articlelink a {
  background:url('../img/icon_entry.gif') no-repeat 0 .231em;
  display:block;
  font-weight:bold;
  text-indent:15px;
  }
.linklink a {
  background:url('../img/icon_link.gif') no-repeat 0 .308em;
  }
.articlelink a {
  background:url('../img/icon_page.gif') no-repeat 0 .231em;
  }
.entrynav {
  float:left;
  width:100%;
  padding:0 0 1.3em;
  }
.entrynav h2 {
  margin-bottom:0;
  padding-top:.539em;
  border-top-width:0;
  }
.entrynav h2:first-child {
  padding-top:1.231em;
  border-top-width:1px;
  }
.entrynav p {
  margin-bottom:1em;
  }


/** All Items **/
.allitemlist li {
  margin-left:15px;
  text-indent:-15px;
  }
.allitemlist .entrylink, .allitemlist .linklink {
  background-position:0 .077em;
  display:inline;
  padding-left:15px;
  text-indent:0;
  }
.allitemlist .linklink {
  background-position:0 .154em;
  }

/** All Posts **/
.allposts th, .allposts td {
  vertical-align:top;
  }
.allposts .alt td {
  background:#ece9e6;
  }
.allposts .date, .allposts .cmts {
  text-align:right;
  }
.allposts th, .allposts th.date {
  color:#222;
  }
.allposts th, .allposts .date {
  text-transform:none;
  white-space:nowrap;
  }
.allposts .type, .allposts .editcol {
  text-align:center;
  }
.allposts .tags {
  color:#a98;
  }


/** Archive Stuff **/
table.entrynums {
  border-collapse:collapse;
  width:100%;
  margin:0 0 2.539em;
  line-height:1.539;
  }
.entrynums th {
  padding:0 1em 0 0;
  text-align:left;
  font-weight:normal;
  font-size:1.3em;
  text-transform:lowercase;
  }
.entrynums td {
  padding:0;
  text-align:right;
  font-size:1.3em;
  color:#a98;
  }
.byyear, .bymonth, .byday, .bycategory, .bytag {
  float:left;
  width:100%;
  margin-bottom:2em;
  }
ul.entrynums {
  float:left;
  width:100%;
  margin:0 0 0;
  }
.entrynums li {
  float:right;
  width:100%;
  margin:0;
  text-indent:0;
  text-align:right;
  color:#a98;
  text-transform:lowercase;
  }
.entrynums li a {
  float:left;
  }
.entrynums .current-cat, .entrynums .current-cat a, .entrynums .current, .entrynums .current a, .bytag .current {
  font-weight:bold;
  }
.entrynums .current-cat a, .entrynums .current a, .bytag .current,
.entrynums .current-cat a:hover, .entrynums .current a:hover, .bytag .current:hover {
  color:#222 !important;
  cursor:default;
  }


/** Pagination **/
.paginate {
  float:left;
  width:100%;
  margin:.7em 0 1.3em 0;
  text-transform:lowercase;
  }
.paginate p {
  margin-left:12.308em;
  margin-right:6.154em;
  }
.paginate .prevlink {
  display:block;
  float:left;
  }
.paginate .nextlink {
  display:block;
  float:right;
  text-align:right;
  }


/** Entry **/
#entry .entry .meta {
  float:left;
  width:14em;
  margin:.9em 0 -1em;
  text-transform:lowercase;
  }
#entry .entry .body {
  float:right;
  width:46em;
  margin:1.6em 8em 0 0;
  }
#entry .entry .body p:first-child {
  margin-top:0;
  }
#entry .entry .meta .date {
  margin-bottom:.539em;
  }
.commentlink {
  background:url('../img/icon_comment.gif') no-repeat 0 50%;
  padding-left:17px;
  }
a + .commentlink {
  margin-left:6px;
  }


/** Comments **/
.comments, .commentsclosed {
  float:left;
  width:100%;
  }
.comments h2, .commentsclosed h2 {
  margin-bottom:.555em;
  padding:0 4.444em 0 8.889em;
  border:none;
  font-size:1.8em;
  line-height:1.667;
  color:#222;
  text-transform:lowercase;
  }
.comments h2 span {
  margin-left:.5em;
  font-weight:normal;
  font-size:.722em;
  color:#a98;
  }
.comments h2 span a {
  background:url('../img/icon_feed.gif') no-repeat 0 65%;
  padding-left:16px;
  }
.comments ol {
  margin:0;
  padding:0;
  list-style:none;
  }
.comments ol li {
  margin:0;
  padding:1.6em 0 1.3em;
  border-top:1px solid #ece9e6;
  float:left;
  width:100%;
  font-size:1em;
  text-indent:0;
  }
.comments .commentid {
  float:left;
  width:14em;
  }
.comments .gravatar {
  background:#ece9e6;
  float:right;
  width:4em;
  margin:.4em 0 1.6em;
  padding:5px;
  }
.comments .gravatar img {
  display:block;
  }
.comments .commentno {
  float:left;
  margin:.139em 0 0;
  font-size:3.6em;
  line-height:1.111;
  font-weight:bold;
  color:#ece9e6;
  }
.comments .body {
  float:right;
  width:46em;
  margin:0 8em 0 0;
  overflow:hidden;
  }
.commentsclosed .body {
  padding:1.6em 8em 2.3em 16em;
  border-top:1px solid #ece9e6;
  }
.comments .commentmeta {
  margin-bottom:0;
  }
.comments .who {
  font-weight:bold;
  font-style:normal;
  margin-right:.5em;
  }
.comments span.who {
  color:#765;
  }
.comments strong {
  color:#444;
  }


/** Comment preview **/
.commentpreview {
  padding-bottom:1em;
  }
.commentpreview h2 {
  margin-bottom:1em;
  padding:0 6.154em 0 12.308em;
  font-size:1.3em;
  line-height:1.539;
  color:#a98;
  }


/** Related and recent **/
.r h2 {
  margin-bottom:.555em;
  padding:0 4.444em 0 8.889em;
  border:none;
  font-size:1.8em;
  line-height:1.667;
  color:#222;
  text-transform:lowercase;
  }
.recent h2 {
  margin:0;
  padding:.5em 4.444em 0 8.889em;
  border-top:1px solid #ece9e6;
  }
.r ul {
  padding:1.6em 0 2.3em 16em;
  border-top:1px solid #ece9e6;
  }
.recent ul {
  padding-top:1.7em;
  padding-bottom:1.3em;
  border:none;
  }
.r ul a {
  font-weight:bold;
  }
.r li a {
  background:url('../img/icon_entry.gif') no-repeat 0 .077em;
  padding-left:15px;
  }
.r li a.links {
  background:url('../img/icon_link.gif') no-repeat 0 .154em;
  }


/** Asides **/
.aside {
  float:left;
  width:100%;
  padding:0 0 1.3em;
  }

/** Events **/
#events div.summary, #eventsub div.summary {
  border-top:1px solid #ece9e6;
  padding:.6em 0 2.3em;
  }
#eventsub div.summary {
  border-top:1px solid #ece9e6;
  padding-top:1.6em;
  }
.eventlist {
  padding-bottom:1.3em;
  }
.eventlist .summary {
  font-weight:bold;
  }
.eventlist .dtstart {
  color:#a98;
  }

/** Tables **/
table {
  margin:1em 0;
  border-collapse:collapse;
  width:100%;
  }
th, td {
  padding:0 .769em 0 0;
  font-size:1.3em;
  line-height:1.539;
  text-align:left;
  }
td p, td li {
  font-size:1em;
  }


/** Lists **/
ul {
  margin:0 0 2em;
  padding:0;
  list-style:none;
  }
ol {
  margin:1em 0 1em 2em;
  padding:0;
  }
h4 + ol {
  margin-top:1.1em;
  }
li {
  margin:0 0 0 1em;
  padding:0;
  font-size:1.3em;
  line-height:1.539;
  text-indent:-1em;
  }
ol li {
  text-indent:0;
  }
.sites ul {
  padding-top:1em;
  }
dl {
  margin:0 0 1em;
  }
dt, dd {
  font-size:1.3em;
  line-height:1.539em; 
  }
dt {
  font-weight:bold;
  }
dd {
  margin:0;
  padding:0;
  }
dd p {
  font-size:1em;
  line-height:1.539;
  }
ul.marked li {
  background:url('../img/bullet.gif') no-repeat .231em .462em;
  margin:0;
  padding:0 0 0 1.539em;
  text-indent:0;
  }


/* =Forms
----------------------------------------------- */
form {
  margin:0;
  }
input.btn {
  font:1.3em/1.539em Helvetica,Arial,Sans-serif;
  }
input.btn {
  background:#49a url('../img/bg_button.png') repeat-x scroll left bottom;
  font-size:1.3em;
  font-family:Helvetica,Arial,Sans-serif;
  font-weight: bold;
  line-height:1.539; /* 20/13 */
  padding:.077em .615em; /* tb:1/13 lr:8/13 */
  border:none;
  border-width:.077em; /* 1/13/ */
  border-style:solid;
  border-color:#49a !important;
  -moz-border-radius:1.077em; /* 14/13 */
  -khtml-border-radius:.923em; /* 12/13 */
  -webkit-border-radius:.923em; /* 12/13 */
  /*border-radius:.923em; /* 12/13 */
  cursor:pointer;
  text-decoration:none;
  text-shadow:rgba(0,0,0,0.3) 0 -.077em 0; /* 1/13 */
  color:#fff !important;
  }
input.btn:active {
  background:#21759b url('../img/bg_button_active.png') repeat-x scroll left top !important;
  }
input.btn:hover {
  color:#d54e21;
  }

input.txt, textarea {
  background:#f2efec;
  }
input.txt, textarea, select {
  width:50%;
  padding:.154em .308em; /* tb:2/13 lr:4/13 */
  border:.077em solid #eee; /* 1/13 */
  border-color:#ccc #fff #fff #ccc;
  font:1.3em Helvetica,Arial,Sans-serif;
  line-height:1.539; /* 20/13 */
  /* so in theory, each text input field is ~26px in height at default text size */
  }
input.txt:focus, textarea:focus, select:focus {
  background:#fff;
  border-color:#a98;
  outline-width:0;
  }
.searchform form {
  padding-bottom:2.3em; /* 23/10 */
  line-height:3;
  vertical-align:bottom;
  }
.searchform input.txt {
  width:auto;
  }
textarea {
  width:90%;
  }
select {
  width:auto;
  padding-left:0;
  padding-right:0;
  }


/* =Contact Form
----------------------------------------------- */
.contactform fieldset {
  margin:0;
  padding:0;
  border:none;
  }
.contactform legend {
  display:none;
  }


/* =Regular forms (reg-form)
----------------------------------------------- */
.reg-form {
  float:left;
  width:100%;
  padding-bottom:2.4em; /* 24/10 */
  }
.reg-form form {
  float:left;
  width:100%;
  padding-top:1.7em;
  border-top:1px solid #ece9e6;
  }
.reg-form h2 {
  margin-bottom:.555em; /* 10/18 */
  padding:0 4.444em 0 8.889em; /* l:160/18 r:80/18 */
  border:none;
  font-size:1.8em; /* 18/10 */
  line-height:1.667; /* 30/18 */
  color:#222;
  text-transform:lowercase;
  }
.reg-form .block {
  float:left;
  width:100%;
  margin:.1em 0 1.5em; /* t:1/10 b:15/10 */
  }
.reg-form .submit {
  margin:-.3em 0 0; /* 3/10 */
  }
.reg-form label {
  float:left;
  display:block;
  width:10.769em; /* 140/13 */
  margin-top:.231em; /* 3/13 */
  font-size:1.3em;
  line-height:2.308; /* 30/13 */
  text-align:right;
  text-transform:lowercase;
  }
.reg-form .sub label {
  float:none;
  display:inline;
  width:auto;
  margin:0;
  font-size:1em;
  line-height:normal;
  }
.reg-form .input {
  float:right;
  padding-top: 5px;
  width:54em; /* 540/10 */
  }
.reg-form .usertxt {
  float:right;
  width:41.539em; /* 540/13 */
  margin:-.154em 0 .462em; /* t:2/13 b:6/13 */
  }
.reg-form input.txt, .reg-form textarea {
  padding:.308em; /* 4/13 */
  float:left;
  /* so in theory, each reg-form text input field is ~30px in height at default text size */
  }
.reg-form input.txt,
.reg-form select.frm-sel {
  width:16.154em; /* (220-10)/13 */
  margin-right:.769em; /* 10/13 */
  }
.reg-form input.txtlong {
  width:34.615em; /* (460-10)/13 */
  }
.reg-form input.chkbox {
	display: block;
	margin-top: 7px;
}
.reg-form textarea {
  width:34.615em; /* (460-10)/13 */
  }
.reg-form .sub {
  float:left;
  margin-top:.231em; /* 3/13 */
  font-size:1.3em;
  line-height:2.308; /* 30/13 */
  color:#a98;
  }
.commentform .optionaltxt {
  float:left;
  width:10.769em; /* 140/13 */
  margin-top:.385em; /* 5/13 */
  text-align:right;
  text-transform:lowercase;
  color:#a98;
  }
.commentform .optionaltxt span {
  display:block;
  font-weight:bold;
  }


/* =Misc
----------------------------------------------- */
p {
  margin:0 0 .769em; /* 10/13 */
  font-size:1.3em; /* 13/10 */
  line-height:1.539; /* 20/13 */
  }
strong {
  color:#222;
  }
.date, .time {
  color:#a98;
  text-transform:lowercase;
  white-space:nowrap;
  }
blockquote {
  margin:1em 0 1em .5em;
  padding:0 0 0 1em;
  border-left:.5em solid #ece9e6;
  color:#777;
  }
.codeblock {
  font-size:12px;
  line-height:1.667; /* 20/12 */
  white-space:pre-wrap;
  }
.codeblock code, .codeblock p {
  font-size:1em;
  }
.thumbs2 {
  float:left;
  width:100%;
  margin-right:-1.539em; /* 20/13 */
  padding-bottom:1em;
  }
.thumbs2 a {
  float:left;
  width:10.769em; /* 140/13 */
  margin-top:.231em; /* 3/13 */
  margin-right:1.539em; /* 20/13 */
  }
.thumbs2 a img {
  display:block;
  border:10px solid #ece9e6;
  margin:0 0 .539em; /* 7/13 */
  }
a.unit {
  white-space:nowrap;
  }
abbr {
  border-color:#ece9e6;
  }
ins {
  background:#ece9e6;
  text-decoration:none;
  color:#333;
  }
code, kbd {
  font:12px Monaco,Courier,Monospace;
  color:#585;
  }
sup {
  vertical-align:baseline;
  font-size:0.846em; /* 11/13 */
  position:relative;
  top:-0.364em; /* 3/11 */
  margin-left:-.25em;
  font-weight:bold;
  }
.bc {
  margin:.462em 0 -2em; /* t:6/13 b:26/13*/
  font-size:1.3em;
  line-height:1.539; /* 20/13 */
  text-transform:lowercase;
  }


/* =Insets
  the class names used are WordPress-chosen,
  not my own choices. I realize the names
  are presentational, but oh well.
----------------------------------------------- */
img.alignleft {
  float:left;
  margin:0 1.539em 1.539em 0; /* r:20/13 b: */
  }
img.alignright {
  float:right;
  margin:0 0 1.539em 1.539em;
  }
img.alignnone {
  display:block;
  margin:1.539em 0;
  }
img.size-thumbnail {
  /* WP cropped to: 120x120 */
  border:.769em solid #ece9e6; /* 10/13 */
  }
img.size-medium {
  /* WP max-width: 200px */
  border:.769em solid #ece9e6; /* 10/13 */
  }
img.size-large {
  /* WP max-width: 460px */
  display:block;
  }
img.size-full {
  /* WP gives no max-width, be careful using this */
  display:block;
  }
img.size-full.alignleft, img.size-full.alignright, img.size-large.alignleft, img.size-large-alignright {
  float:none;
  margin-left:0;
  margin-right:0;
  }
div.alignleft {
  float:left;
  margin-right:1.539em;
  }
div.alignright {
  float:right;
  margin-left:1.539em;
  }
.wp-caption p {
  padding:.769em .769em 0; /* 10/13 */
  text-align:center;
  color:#a98;
  }


/* =Legacy
----------------------------------------------- */
.imgleft, .left, img.left {
  float:left;
  margin:4px 15px 4px 0;
  }
.imgright, .right, img.right {
  float:right;
  margin:4px 0 4px 15px;
  }
img.imgleft, img.imgright {
  padding:4px;
  border:1px solid #ddc;
  }
.left em, .right em {
  margin-top:.15em;
  display:block;
  font-size:85%;
  font-style:normal;
  color:#777;
  }
.inset, .inset2 {
  float:left;
  width:35%;
  margin:1em 15px 1em 0;
  padding:.85em 0;
  border:dotted #ccc;
  border-width:1px 0;
  font-size:85%;
  line-height:1.85em;
  color:#777;
  }
.inset2 {
  float:right;
  margin:1em 0 1em 15px;
  }
img.block {
  display:block;
  margin:.5em 0;
  }


/* =Feeds
----------------------------------------------- */
.feeds li {
  text-transform:lowercase;
  margin-left:16px;
  text-indent:-16px;
  }
.feeds a, a.feedlink {
  background:url('../img/icon_feed.gif') no-repeat 0 65%;
  padding-left:16px;
  }
.section .feeds li {
  margin-bottom:.769em; /* 10/13 */
  }
.section .feeds a {
  font-weight:bold;
  }


/* =Misc
------------------------------------------------*/
.success,
.error {
	margin: 10px 0;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.success p,
.error p {
	margin: 0;
}
.success {
	border: solid 1px #07981f;
	background-color: #b0ffbd;
}
.error {
	border: solid 1px #c92d13;
	background-color: #ffe4de;
}
.clearer {
	clear: both;
}

/* =Footer
----------------------------------------------- */
#footer {
  background:#f0f1f7;
  width:100%;
  border-bottom:10px solid #345;
  }
#footer .footer-w {
  padding-top: 1em;
  width: 980px;
  margin: 0 auto;
}
#footer .i {
  width:94em;
  min-width:940px;
  margin:0 auto;
  padding:0 2em;
  }
#footer hr {display:none;}
#footer h2 {
  margin:1.538em 0 .769em; /* T:20/13 B:10/13 */
  padding-top:1.231em; /* 16/13 */
  border-top:1px solid #ddd6cc;
  text-transform:lowercase;
  }
#footer .cg1, #footer .about, .footer1 .disclaimer, #footer .feeds {float:left;}
#footer .cg2, #footer .cg3, #footer .elsewhere, #footer .searchform, .footer2 .disclaimer {float:right;}
#footer .cg1, .footer2 .about {width:54em;}
#footer .cg2, #footer .cg3 {width:38em;}
#footer .searchform, .footer1 .about, .footer2 .disclaimer {width:22em;}
.footer1 .disclaimer, #footer .elsewhere, #footer .feeds {width:14em;}
#footer .about, #footer .disclaimer, #footer .elsewhere, #footer .feeds, #footer .searchform {padding-bottom:1.3em;}
#footer .copyright {
  border-top:1px solid #dbdce2;
  padding:1.6em 0 1.4em;
  width:100%;
  color:#789;
  }
#footer .copyright a {
  text-transform:none;
  }
#footer .elsewhere {
  color:#789
  }
#footer .searchform form {
  padding-bottom:0;
  }
  
/** Added **/

/* tables */
table.reg-list {
	border-collapse: separate;
	border-spacing: 1px;
	font-family:arial;
	background-color: #CDCDCD;
	margin:0 0pt 15px;
	width: 100%;
	text-align: left;
}
table.reg-list thead tr th, table.reg-list tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
	font-weight: bold;
}
table.reg-list thead tr .header {
	background-image: url(../../img/sorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.reg-list tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.reg-list tbody tr.odd td {
	background-color:#F0F0F6;
}
table.reg-list thead tr .headerSortUp {
	background-image: url(../../img/sorter/asc.gif);
}
table.reg-list thead tr .headerSortDown {
	background-image: url(../../img/sorter/desc.gif);
}
table.reg-list thead tr .headerSortDown, table.reg-list thead tr .headerSortUp {
background-color: #8dbdd8;
}

/** Result specific styles **/

table.reg-list .t-center {
	text-align: center;
}
a.list-edit-btn {
	margin: 0 auto;
	display: block;
	width: 59px;
	height: 20px;
	background: transparent url(../images/edit-button.gif) no-repeat center center;
	text-decoration: none;
}
a.list-edit-btn:hover {
	background: transparent url(../images/edit-button-light.gif) no-repeat center center;
}
a.list-del-btn {
	margin: 0 auto;
	display: block;
	width: 16px;
	height: 16px;
	background: transparent url(../images/delete-button.gif) no-repeat center center;
	text-decoration: none;
}
a.list-del-btn:hover {
	background: transparent url(../images/delete-button-light.gif) no-repeat center center;
}
td.delete {
	text-align: center;
}

/** Acl forms **/

#acl_form {
	width: 700px;
}